# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pyProjects\spendingapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
